# Lab Instructions

Find a dataset that interests you. I'd recommend starting on [Kaggle](https://www.kaggle.com/). Read through all of the material about the dataset and download a .CSV file.

1. Write a short summary of the data.  Where did it come from?  How was it collected?  What are the features in the data?  Why is this dataset interesting to you?

    * The data is over steam sales. It shows the game name, the rating, the # of reviews, discount percentage if available, price including if there is a discount, the release date, shows 1 if available on windows/ linux/ mac- 0 if not, and a timestamp of when the data was collected. It is also updated weekly.

3. Identify 5 interesting questions about your data that you can answer using Pandas methods.

     * What is the oldest game on steam?
     * What is the best current discount?
     * What is the highest review count?
     * What are the top games available on linux?
     * What is the highest rated game on steam?

5. Answer those questions!  You may use any method you want (including LLMs) to help you write your code; however, you should use Pandas to find the answers.  LLMs will not always write code in this way without specific instruction.  

6. Write the answer to your question in a text box underneath the code you used to calculate the answer.

In [1]:
import pandas as pd

df = pd.read_csv('steam_sales.csv', encoding='ISO-8859-1')

df.head()

,Game Name,Rating,#Reviews,Discount%,Price (â¬),Original Price (â¬),Release Date,Windows,Linux,MacOS,Fetched At
0,PEAK,7.0,"77,683",-38.0,4.64,7.49,"16 Jun, 2025",1,0,0,2025-08-11 00:00
1,Cyberpunk 2077,7.0,"772,574",-65.0,20.99,59.99,"9 Dec, 2020",1,0,1,2025-08-11 00:00
2,Rust,7.0,"1,038,433",-50.0,19.99,39.99,"8 Feb, 2018",1,0,1,2025-08-11 00:00
3,Microsoft Flight Simulator (2020) 40th Anniver...,5.0,"63,905",-60.0,27.99,69.99,"17 Aug, 2020",1,0,0,2025-08-11 00:00
4,Sid Meier's Civilization VII,4.0,"34,643",-30.0,48.99,69.99,"10 Feb, 2025",1,1,1,2025-08-11 00:00

In [2]:
df['Release Date'] = pd.to_datetime(df['Release Date'], errors = 'coerce')
df.loc[df['Release Date'].idxmin()]

Game Name               Call of Duty: United Offensive
Rating                                             7.0
#Reviews                                         2,043
Discount%                                        -25.0
Price (â¬)                                      14.99
Original Price (â¬)                             19.99
Release Date                       2006-12-07 00:00:00
Windows                                              1
Linux                                                0
MacOS                                                0
Fetched At                            2025-08-11 00:00
Name: 324, dtype: object

# Oldest Game
It appears the oldest game in this csv is Call of Duty: United Offensive that was released in December of 2006.

In [3]:
df.loc[df['Discount%'].idxmin()]

Game Name               Battlefieldâ¢ 2042
Rating                                  4.0
#Reviews                           103597.0
Discount%                             -95.0
Price (â¬)                            2.99
Original Price (â¬)                  59.99
Release Date                            NaT
Windows                                   1
Linux                                     0
MacOS                                     0
Fetched At                 2025-09-02 11:23
Name: 754, dtype: object

# Biggest Discount
The game with the biggest discount as of September 2nd, appears to be Battlefield 2042 at a discount of 95% off, thats insane!

In [9]:
df['#Reviews_num'] = df['#Reviews'].replace(',', '', regex=True).astype(float)
df.loc[df['#Reviews_num'].idxmax()]

Game Name                              Rust
Rating                                  7.0
#Reviews                          1,038,433
Discount%                             -50.0
Price (â¬)                           19.99
Original Price (â¬)                  39.99
Release Date            2018-02-08 00:00:00
Windows                                   1
Linux                                     0
MacOS                                     1
Fetched At                 2025-08-11 00:00
#Reviews_num                      1038433.0
Name: 2, dtype: object

# Most reviewed game
This is no surprise to me that Rust is the most reviewed game on steam. It's also on of the most popular games on steam.

In [14]:
linux_games = (
    df[df['Linux'].astype(int) == 1]
      .assign(Reviews=df['#Reviews'].replace(',', '', regex=True).astype(float))
      .sort_values(by='Reviews', ascending=False)
      .head()
)

linux_games[['Game Name', 'Reviews', 'Rating', 'Discount%']]

                           Game Name   Reviews  Rating  Discount%
20                    Stardew Valley  784685.0     8.0      -30.0
822                      Garry's Mod  504831.0     8.0      -40.0
402  Sid Meierâs CivilizationÂ® VI  261533.0     7.0      -90.0
51   Sid Meierâs CivilizationÂ® VI  261136.0     7.0      -90.0
387                Hearts of Iron IV  243382.0     7.0      -70.0

# Top games on linux
I'm not at all surprised by Stardew Valley and Garry's Mod being the top games available on linux. These games are very popular on windows too. (I had to use AI to help me with this one because I was running into errors and a list not generating with linux == 1).

In [18]:
df['#Reviews'] = df['#Reviews'].replace(',', '').astype(float)
top_games = df.sort_values(by=['Rating', '#Reviews'], ascending=[False, False]).head()
top_games[['Game Name', 'Rating', '#Reviews']]

                                       Game Name  Rating  #Reviews
19   The Witcher 3: Wild Hunt - Complete Edition     8.0  787763.0
20                                Stardew Valley     8.0  784685.0
27                      The Witcher 3: Wild Hunt     8.0  772465.0
24                                  Phasmophobia     8.0  636310.0
822                                  Garry's Mod     8.0  504831.0

# Top rating games with highest review counts
None of these games surprise me with being among the top rated. The Witcher 3 was one of the best games I have ever played.